/*general structure*/

.bigContainer{
    display: flex;
    height: 100vh;
}

.headArea{
    display: flex;
    flex-direction: column;
}

.responsiveSubHeadline{
    display: none;
}

.headerAndTaskContainer {
    max-width: 100vw;
}

.addTaskContainer {
    display: flex;
    width: calc(100vw - 15vw);
    height: calc(100vh - 55px) ;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.workSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 90%;
}

.formular{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4.9%;
}

.grayLine {
    background-color: #D1D1D1;
    height: 100%;
    width: 0;
    border: 1px solid #D1D1D1;
}

.leftSide {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.upperRightside{
    width: 100%;
}

/*general structure*/

/* middle structure */

.formularSection{
    width: 100%;
    align-items: flex-start ;
}

.inputField {
    padding: 8px;
    width: 100%;
    border: 1px solid #D1D1D1;
    color: #D1D1D1;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.textareaField {
    padding: 8px;
    border: 1px solid #D1D1D1;
    color: #D1D1D1;
    border-radius: 5px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

/**/
.categoryContainer {  /*parent*/
    width: 100%;
}

.categoryContainer:hover {
    cursor: pointer;
}

/*before Dropdown*/
.selectHeadFieldOriginal {
    position: relative;
    background-color: white;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 6px;
    color: #D1D1D1;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    min-height: 15px;
}

.colorChoice {
    height: 8px;
    width: 8px;
    border-radius: 20px;
}

.dropdownImg {
    position: absolute;
    height: 8px;
    left: 93%;
    top: 13px;
}

.selectOption {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    border-left: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.selectOptionColor {
    height: 8px;
    width: 8px;
    border-radius: 20px;
}

.sales {
    background-color: #E200BE;
}


.backoffice {
    background-color: #1fd7c1;
}

/*after dropdown*/
.newCategoryContainer {  /*parent for dropdown*/
    position: relative;
}

.newCategoryOriginal {
    text-align: start;
    padding-right: 8px;
    width: 100%;
    box-sizing: border-box;
}

.newCategorySignature {
    position: relative;
}

.chosenCategoryColor {
    height: 8px;
    width: 8px;
    border-radius: 20px;
    position: absolute;
    top: 12px;
    left: 83%;
}

.navNewCategoryOriginal {
    display: flex;
    align-items: center;
    position: absolute;
    top: 6px;
    left: 88%;
}

.crossNewCategory {
    height: 21px;
}

.greyLineNewCategory {
    width: 1px;
    height: 25px;
    background-color: rgba(126, 125, 125, 0.8);
}

.checkNewCategory {
    height: 21px;
}

.colorContainer {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-top: 10px;
}

.coloredCircle {
    height: 15px;
    width: 15px;
    border-radius: 15px;
}

.categoryColor {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    top: 11px;
    left: 83%;
    display: none;
}

.lightblue {
    background-color: #8AA4FF;
}


.red {
    background-color: #FF0000;
}


.green {
    background-color: #2AD300;
}


.purple {
    background-color: #E200BE;
}


.orange {
    background-color: #FF8A00;
}


.blue {
    background-color: #0038FF;
}


.newCategorySignature {
    position: relative;
}

/* drop down End category section end*/
/*Assigned To */
.bigAssignedToContainer{ /*parent*/
    width: 100%;
    display: flex;
    flex-direction: column;
 }

 /* before dropdown */
 .assignedToContainer {
    width: 100%;
    display: flex;
}

.adjustWidth{
    width: 100%;
}

.selectOptionC{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    background-color: white;
    border-left: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
    padding: 8px;
}

.selectOptionC:hover {
    background: #D1D1D1;
    cursor: pointer;
}

.selectOptionC:last-child {
    border-bottom: 1px solid #D1D1D1;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.checkBoxesC{
    position: relative;
    top: -9px;
    right: 19px;
}

.checkBoxC{
    height: 16px;
    position: absolute;
}

.allContactsToAssign{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 6px;
    background-color: white;
    border-left: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
    padding: 8px; 
    height: 43px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.assignedContacts{
    width: 74%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
}

.inviteImg{
    height: 22px;
}

/* render assigned contacts */

.assignToCirle{
    height: 40px;
    width: 40px;
    background-color: rgb(36, 36, 222);
    position: relative;
    border-radius: 40px; 
}

.assignToLetters{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    text-align: center;
    height: 17px;
}

.removeContactCross{
    position: absolute;
    height: 16px;
    top: -8px;
    left: 30px;
}


/* after dropdown */

.searchContactContainer{
    position: relative;
    width: 100%;
}

.searchFieldAssignTo{
    padding: 8px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 100%; 
    box-sizing: border-box;
}


.upperRightSide { /*parent*/
    display: flex;
    flex-direction: column;
    width: 100%;
}




/* other classes */

.inputField:hover {
    cursor: pointer;
}

.inputWidth3 {
    width: 100%;
    box-sizing: border-box;
}

/* priority */

.prioBox {   /*parent*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 34px;
    height: 33px;
    gap: 5px;
}

.prioDoubleContainerOriginal {
    position: relative;
    width: 26%;
}

.prio {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.prioImg {
    height: 12px;
    margin-left: 4px;
}

.prioInput {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
}


.prioSelected {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 16px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.orange {
    background-color: #FF3D00;
}


.yellow {
    background-color: #FFA800;
}


.green {
    background-color: #7AE229;
}

.d-none {
    display: none;
}

/* subtasks */

.subtaskContainer { /*parent*/
    display: flex;
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
    width: 100%;
}

.subtasks {
    padding: 8px;
    color: #D1D1D1;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
}

.subtaskPlusOriginal {
    position: absolute;
    left: 94%;
    top: 69%;
    height: 18px;
    width: auto;
}

.subtaskList {
    width: 100%;
    max-height: 80px;
    margin-bottom: 5px;
}


.subtask {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.deleteSubtaskBtn {
    height: 20px;
}

/* create and clear Btn */

.taskBtnsOriginal{ /*parent*/
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
}

.headerPlusResponsiveBtn{
    position: relative;
}

.taskBtnsResponsive{ /*parent*/
    position: absolute;
    display: none;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
    top: 10%;
    right: 19%;
}

.clearBtnOriginal {
    border: 1px solid #2A3647;
    background-color: rgb(246, 247, 248);
    color: #2A3647;
    border-radius: 5px;
    font-weight: 400;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btnImg2 {
    height: 11px;
    margin-left: 3px;
}

.btnImg {
    height: 11px;
    margin-left: 3px;
}

.createTaskBtn {
    border-radius: 5px;
    color: white;
    font-weight: 400;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 160px;
}

.grayHighlight {
    background-color: #2A3647;
}