/*Responsiveness Add task*/
@media(max-width: 1200px){
    .addTaskContainer{
        height: calc(100vh - 55px - 84px);
    }
}

@media(max-width:380px) and (max-height:670px){
    .addTaskContainer{
        /* height: 73vh !important; */
    }
}

@media(max-width:420px) and (max-height:900px){
    .addTaskContainer{
        /* height: 79vh !important; */
    }
}

/* @media(max-width:400px) and (max-height:850px){
    .addTaskContainer{
        height: 78vh !important;
    }
}

@media(max-width:360px) and (max-height:750px){
    .addTaskContainer{
        height: 75vh !important;
    }
}

@media(max-width:420px) and (max-height:920px){
    .addTaskContainer{
        height: 79vh !important;
    } */
/* } */

@media(max-width:820px) and (max-height:1180px){
    /* .addTaskContainer{
        height: 85vh !important;
    } */

    .workSpace{
        flex-direction: column;
        align-items: center;
    }

    .grayLine{
        display: none;
    }

    .rightSide{
        padding-top: 0 !important;
    }
    
    .rightSide{
        width: 90% !important;
    }

    .leftSide{
        width: 90% !important;
    }
}

/* @media(max-width:770px) and (max-height:1030px){
    .addTaskContainer{
        height: 82vh !important;
    }
}

@media(max-width:550px) and (max-height:720px){
    .addTaskContainer{
        height: 74vh !important;
    }
}

@media(max-width:415px) and (max-height:915px){
    .addTaskContainer{
        height: 79vh !important;
    }
}

@media(max-width:1025px) and (max-height:600px){
    .addTaskContainer{
        height: 72vh !important;
    }
} */

@media (max-width:1250px) {
    .prio {
        padding: 16px;
    }
}

.prioSelected {
    padding: 16px;
}

@media (max-width:1033px) {
    .prio {
        padding: 8px;
        min-width: 68px
    }

    .prioSelected {
        padding: 8px;
        min-width: 68px
    }
}

@media (max-width:1080px) {
    .taskBtns {
        flex-direction: column;
        width: 169px;
    }

    .clearBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }
}

@media(max-width:1055px) {
    .LogInHeadline {
        font-size: 47px;
    }

    .headlineFP {
        font-size: 47px;
    }

    .headLineContacts {
        font-size: 47px;
        align-items: flex-start;
    }

    .headLine {
        font-size: 47px;
    }

    .headLine h1 {
        font-size: 47px;
    }

    .headlineT {
        font-size: 47px;
    }

    .rightSide{
        padding-top: 70px;
    }

    .headlineB {
        font-size: 47px;
    }
}

@media(max-width:870px) {
    .LogInHeadline {
        font-size: 44px;
    }

    .headlineFP {
        font-size: 44px;
    }

    .headLine {
        font-size: 44px;
    }

    .headLine h1 {
        font-size: 44px;
    }

    .headlineT {
        font-size: 44px;
        
    }

    .headlineB {
        font-size: 44px;
    }
}

@media(max-width:800px) {
    .responsiveBtn {
        display: flex;
    
        position: fixed;
       
    }
    .addTaskContainer{
        display: block;
    }

    .subtasks{
        width: 95%;
    }

    .subtaskPlusOriginal {
        left: 94% ;
    }

    .LogInHeadline {
        font-size: 47px;
    }

    .headlineFP {
        font-size: 47px;
    }

    .headLine {
        font-size: 47px;
    }

    .headLine h1 {
        font-size: 47px;
    }

    .headlineT {
        font-size: 47px;
        
        
    }

    .headlineB {
        font-size: 47px;
    }
}

@media(max-width:340px) {
    .LogInHeadline {
        font-size: 42px;
    }

    .headlineFP {
        font-size: 42px;
    }

    .headLine {
        font-size: 42px;
    }

    .headLine h1 {
        font-size: 42px;
    }

    .headlineT {
        font-size: 42px;
    }

    .headlineB {
        font-size: 42px;
    }
}




@media(max-width:885px) {
    .upperRightSide {
        width: 75%;
    }
}

@media (max-width:800px) {


    .bigContainer {
        flex-direction: column-reverse;
    }

   .addTaskContainer{
       overflow-y: scroll;
       height: 77vh;
   }
   
  
    .mobileText {
        display: flex;
    }

    
    .mobileText {
        display: flex;
        margin-top: 4vh;
        width: 73%;
    }

    .adjustImgNav {
        margin-left: 0;
    }

    

    .clearBtn {
        margin-bottom: 0;
    }

    .createTaskBtn {
        width: 160px;
    }

    .taskBtns{
        gap: 10px;
    }

    .header span {
        display: none;
    }

   
    
    .navbarJoinLogo {
        display: none;
    }



    .legalNotice {
        display: none;
    }

    .bigContainer {
        display: flex;
        flex-direction: column-reverse;
    }


    .navbarSidebar {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        height: 74px;
    }


    .navLine .navImg {
        margin-left: 0;
    }

    .grayLine {
        display: none;
    }

    .workSpace {
        flex-direction: column;
        align-items: center;
    }



    .leftSide {
        width: 80%;
    }

    .rightSide {
        width: 80%;
        padding: 0;
        padding-bottom: 10vh;
    }

    .headerAndTaskContainer {
        width: 100%;
    }

    .upperRightSide {
        width: 75%;
    }

    .inputWidth3 {
        width: 96%;
    }
}



@media (max-width:500px) {
    .mobileText {
        padding-right: 63px;
    }

    .headlineT {
        padding-right: 83px;
    }

    .leftSide {
        width: 100%;
    }

    .rightSide {
        width: 100%;
    }

    .inputWidth {
        width: 85%;
    }

    .inputWidth2 {
        width: 90%;
    }

    .inputWidth3 {
        width: 97%;
    }

    .upperRightSide {
        width: 89%;
    }

    .workSpace p {
        width: 88%;
    }

    .bigAssignedToContainer{
        width: 90%;
    }

}

@media(max-width:415px) {



    .clearBtn {
        width: 77px;
    }


    .mobileText {
        margin-top: 8vh;
        text-align: center;
    }

    .headlineT {
        text-align: center;
    }


}