/*Responsiveness Add task*/

@media(max-width:1200px){   /*switching from normal layout to responsive layout*/
    .addTaskContainer{
        height: calc(100vh - 55px - 88px) !important;
        width: 100vw !important;
    }

    .responsiveSubHeadline{
        display: flex !important;
    }
}

@media(max-height:720px) and (max-width:1025px){  /*low height high width*/
    .formular{
        flex-direction: column;
    }

    .addTaskContainer{
        overflow: auto;
    }

   .formular{
    align-items: center !important;
   }

   .headlineT{
    width: 100%;
    text-align: center;
   }

   .leftSide{
      width: 80% !important;
   }

   .rightSide{
      width: 80% !important;
   }

   .grayLine{
    display: none;
}
}

@media(max-width:880px){ /*smartphone / tablet*/
    .formular{
        flex-direction: column;
    }

    .addTaskContainer{
        overflow: auto;
    }

   .formular{
    align-items: center !important;
   }

   .workSpace{      /*shifting the headline*/
    align-items: center;
   }

   .headArea{
    display: flex;
    width: 95%;
    justify-content: flex-start;
   }

   .headlineT{
    width: 100%;
    margin: 0;
    text-align: left;
   }

   .leftSide{
      width: 80% !important;
   }

   .rightSide{
      width: 80% !important;
   }

   .grayLine{
    display: none;
} 
}




@media (max-width:1250px) {
    .prio {
        padding: 16px;
    }
}

.prioSelected {
    padding: 16px;
}

@media (max-width:1033px) {
    .prio {
        padding: 8px;
        min-width: 68px
    }

    .prioSelected {
        padding: 8px;
        min-width: 68px
    }
}

@media (max-width:1080px) {
    .taskBtns {
        flex-direction: column;
        width: 169px;
    }

    .clearBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }
}

@media(max-width:1055px) {
    .LogInHeadline {
        font-size: 47px;
    }

    .headlineFP {
        font-size: 47px;
    }

    .headLineContacts {
        font-size: 47px;
        align-items: flex-start;
    }

    .headLine {
        font-size: 47px;
    }

    .headLine h1 {
        font-size: 47px;
    }

    .headlineT {
        font-size: 47px;
    }

 

    .headlineB {
        font-size: 47px;
    }
}

@media(max-width:870px) {
    .LogInHeadline {
        font-size: 44px;
    }

    .headlineFP {
        font-size: 44px;
    }

    .headLine {
        font-size: 44px;
    }

    .headLine h1 {
        font-size: 44px;
    }

    .headlineT {
        font-size: 44px;
        
    }

    .headlineB {
        font-size: 44px;
    }
}

@media(max-width:800px) {
    .responsiveBtn {
        display: flex;
    
        position: fixed;
       
    }
    .addTaskContainer{
        display: block;
    }

    .subtasks{
        width: 95%;
    }

    .subtaskPlusOriginal {
        left: 94% ;
    }

    .LogInHeadline {
        font-size: 47px;
    }

    .headlineFP {
        font-size: 47px;
    }

    .headLine {
        font-size: 47px;
    }

    .headLine h1 {
        font-size: 47px;
    }

    .headlineT {
        font-size: 47px;
        
        
    }

    .headlineB {
        font-size: 47px;
    }
}

@media(max-width:340px) {
    .LogInHeadline {
        font-size: 42px;
    }

    .headlineFP {
        font-size: 42px;
    }

    .headLine {
        font-size: 42px;
    }

    .headLine h1 {
        font-size: 42px;
    }

    .headlineT {
        font-size: 42px;
    }

    .headlineB {
        font-size: 42px;
    }
}





@media (max-width:800px) {


    .bigContainer {
        flex-direction: column-reverse;
    }


   
  
    .mobileText {
        display: flex;
    }

    
    .mobileText {
        display: flex;
        margin-top: 4vh;
        width: 73%;
    }

    .adjustImgNav {
        margin-left: 0;
    }

    

    .clearBtn {
        margin-bottom: 0;
    }

    .createTaskBtn {
        width: 160px;
    }

    .taskBtns{
        gap: 10px;
    }

    .header span {
        display: none;
    }

   
    
    .navbarJoinLogo {
        display: none;
    }



    .legalNotice {
        display: none;
    }

    .bigContainer {
        display: flex;
        flex-direction: column-reverse;
    }


    .navbarSidebar {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        height: 74px;
    }


    .navLine .navImg {
        margin-left: 0;
    }

    .grayLine {
        display: none;
    }


    .leftSide {
        width: 80%;
    }

    

    .headerAndTaskContainer {
        width: 100%;
    }

   
    .inputWidth3 {
        width: 96%;
    }
}

@media(max-width:660px){  /*displaying the responsive create and clear btns*/
    .taskBtnsResponsive{
        display: flex !important;
    }

    .taskBtnsOriginal{
        display: none !important;
    }

    .workSpace{
        width: 95% !important;
    }

    .leftSide{
        width: 95% !important;
    }

    .rightSide{
        width: 95% !important;
    }
}


@media (max-width:505px) {
    .btnText{
        display: none!important;
    }

    .createTaskBtn{
        width: 67px !important;
    }

    .mobileText {
        padding-right: 63px;
    }

    .headlineT {
        padding-right: 83px;
    }

    .leftSide {
        width: 100%;
    }



    .inputWidth {
        width: 85%;
    }

    .inputWidth2 {
        width: 90%;
    }

    .inputWidth3 {
        width: 97%;
    }

   

    .workSpace p {
        width: 88%;
    }

    .bigAssignedToContainer{
        width: 90%;
    }

    .categoryContainer{
        width: 90%;
    }

}

@media(max-width:475px){
    .taskBtnsResponsive{
        right: 28% !important;
    }
}

@media(max-width:460px){
    .taskBtnsOriginal{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media(max-width:415px) {



    .clearBtn {
        width: 77px;
    }


    .mobileText {
        margin-top: 8vh;
        text-align: center;
    }

   
}

@media(max-width:325px){
  .clearBtnOriginal{
    padding-left: 11px !important;
    padding-right: 11px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

@media(max-width:1200px){

    .bigContainer{
        flex-direction: column;
    }
    
  


.responsiveNavbar {
    display: flex;
    height: 84px;
}

}