/* Board Responsive */
@media(max-width:1280px) {
    .addTaskBtn {
        font-size: 20px;
    }
}

@media(max-width: 1200px) {
    .headlineB {
        margin-top: 0;
    }

    .inputContainerBoard {
        margin-top: 0;
    }

    .responsviveHeadlineB h1 {
        margin-top: 0;
    }
}






@media(max-width: 1200px) {
    .addTaskContainer {
        height: 84vh !important;
    }
}

@media(max-width: 415px) and (max-height: 915px) {
    .allTasks {
        /* height: 70vh !important; */
    }

}

@media(max-width: 400px) {
    .addTaskContainer {
        height: 85vh !important;
    }

}

@media(max-width: 550px) and (max-height: 730px) {
    .allTasks {
        height: 55vh !important;
    }

}

@media(max-width: 770px) and (max-height: 1024px) {
    .allTasks {
        height: 76vh !important;
    }

}

@media(max-width: 830px) and (max-height: 1200px) {
    .allTasks {
        height: 70vh;
    }
}







    @media(max-width: 415px) and (max-height: 920px) {
        .allTasks {
            height: 70vh !important;
        }
    }

    @media(max-width: 365px) and (max-height: 745px) {
        .allTasks {
            height: 66vh !important;
        }
    }

    @media(max-width: 380px) and (max-height: 670px) {
        .allTasks {
            height: 61vh !important;
        }
    }


    @media(max-width:1200px) {
        .rightSideBoard {
            width: 100vw !important;
        }

        .contentBoard {
            width: 100vw !important;
            flex: 1;
        }

        .submitEditBtn {
            top: 83%;
        }

        .header {
            width: 100vw;
        }


        .popUpContent {
            margin-bottom: 4%;
        }

    }

    @media (max-width:1070px) {

        .plusBoardAW {
            margin-bottom: 30px;
        }


    }

    @media(max-width:1050px) {
        .adjustImgNav {
            margin-bottom: -4px;
        }
    }


    @media(max-width:800px) {

        .allTasks {
            width: 100%;
        }
    }


    @media(max-width:660px) {

        .allTasks {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            /* height: 49vh; */
        }

        .boardTaskContainer {
            width: 400px;
            align-items: center;
            justify-content: center;
        }

        .backArrowContacts {
            bottom: 128%;
        }

        .grayLineBoard {
            left: 69%;
        }

        .inputImageLoup {
            left: 71%;
        }

        .inputContainerBoard {
            padding-left: 12%;
        }

        .searchAndCreate {
            width: 100%;
            margin-right: 33%;
        }


        .status {
            justify-content: space-between;
        }

        .headlineB {
            margin-bottom: 2vh;
            flex-direction: column;
        }

        .addTaskBtn {
            width: 250px;
            height: 37px;
        }

    }


    @media(max-width:530px) {
        .inputImageLoup {
            left: 73%;
        }
    }


    @media(max-width:470px) {
        .boardTaskContainer {
            width: 300px;
            top: 150px;
        }

        .searchAndCreate {
            width: 420px;
            height: 55px;
            gap: 20px;
        }

        .addTaskBtn {
            width: 250px;
            height: 37px;
        }
    }


    @media(max-width:281px) {
        .headlineB {
            margin-top: 15vh;
        }

        .searchAndCreate {
            width: 250px;
            height: unset;
            gap: unset;
            flex-direction: column;
        }

        .addTaskBtn {
            width: 200px;
            margin: unset;

        }

        .status {
            width: 250px;
        }

        .task {
            width: 90%;
            align-items: center;
            margin-left: 11px;
        }
    }



    @media(max-width: 1050px) {
        .popUpEditContent {
            top: 0;
            left: 0;
            width: 100vw;
            height: 90Vh;
        }

        .adjustImgNav {
            margin-left: 0;
        }

    }
