/* contacts responsive */
@media(max-width:1200px) and (max-height:610px) {
    .contactsBoard {
        height: 77vh !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }

    .contactsContainer {
        height: 80vh !important;
    }
}

@media(max-width:400px) and (max-height:670px) {
    .contactsBoard {
        height: 79vh !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }

    .contactsContainer {
        height: 79vh !important;
    }

    .backArrowContacts {
        bottom: 128%;
    }
}

@media(max-width:370px) and (max-height:750px) {
    .contactsBoard {
        height: 82vh !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }

    .contactsContainer {
        height: 82vh !important;
    }

    .backArrowContacts {
        bottom: 128%;
    }
}

@media(max-height:1030px) and (max-width:770px) {
    .contactsContainer {
        height: 87vh !important;
    }

    .contactsBoard {
        height: 87vh !important;
    }
}

@media(max-height:730px) and (max-width:550px) {
    .contactsContainer {
        height: 84vh !important;
    }

    .contactsBoard {
        height: 84vh !important;
    }
}

@media(max-width:1200px) {

    .contactsContainer{
        height: calc(100vh - 55px -84px);
    }

    .contactsBoard {
        width: 100%;
    }

    .responsiveContainer {
        flex-direction: column;
    }

    .headerPlusContent {
        width: 100vw !important;
        flex: 1;
    }
}


@media (max-width : 1150px) {
    .headLineContacts {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 100px;
    }

    .headLineContacts h1 {
        margin-bottom: 0;
    }

    .blueLineContacts {
        height: 0;
        width: 100px;
        align-self: flex-start;
    }

    .subHeadlineContacts {
        width: 100%;
    }
}

@media(max-width : 1055px) {
    .subHeadlineContacts {
        font-size: 16px;
    }
}

@media(max-width : 1050px) {


    .leftSide {
        padding-top: 10px;
    }

    .responsiveSubHeadlineAD {
        display: flex;
    }
}

@media(max-width:920px) {
    .createAndCancelBtns {
        flex-direction: column;
        width: 86%;
        align-items: center;
    }

    .cancelNewContact {
        width: 169px;
    }
}

@media(max-width:880px) {
    .contactsContainer {
        min-width: 100vw;
    }

    .initialsEdit {
        width: 100%;
    }

    .contactsBoard {
        display: none;
    }

    .backArrowContacts {
        display: flex;
    }



    .letterContainer {
        align-items: flex-start;
        margin-left: 10%;
    }

    .editContactContainer {
        transform: translate(0, 100vh);
        height: 95vh;
    }

    .subtaskPlusContacts {
        left: 90%;
    }

    .subtasksContact {
        width: 95%;
    }

    .greyCrossContacts {
        left: 92%;
    }

    .innerEditContactContainer {
        flex-direction: column;
    }

    .headBoxEdit {
        width: 100%;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
    }

    .greyCrossEditContact {
        display: none;
    }

    .whiteCrossEditContact {
        display: flex;
    }

    .newContactBtnResponsive {
        display: flex;
    }

    .newContactBtn {
        display: none;
    }

    .inputEditContainer1 {
        margin-top: 0;
        width: 84%;
        transform: translateX(-1.5%);
    }

    .allEditsContact {
        width: 100%;
        align-items: center;
    }

    .initialsEdit {
        margin-top: -69px;
        height: auto;
    }

    .adjustContentheadBoxEdit {
        margin-top: 5%;

    }
}

.addTaskToContact {
    width: 90vw;
}

.createAndCancelBtns {
    flex-direction: row;
    justify-content: center;
}





@media(max-width:800px) {
    .responsiveSubHeadline {
        margin-top: 28px;
        margin-bottom: 27px;
        margin-left: 20%;
    }


}

@media(max-width:500px) {
    .addTaskToContact {
        width: 100vw;
        height: 100vh;
        top: 0vh;
        border-radius: 0;
    }
}

@media(max-width:450px) {
    .createAndCancelBtns {
        flex-direction: column;
    }
}

@media (max-width:700px) {
    .inputEditContainer1 {
        width: 83%;
    }
}

@media(max-width:660px) {
    .detailedContactHead {
        flex-direction: column;
        align-items: flex-start;
    }

    .detailedContactData {
        margin-top: 0;
    }

    .dcContactPlusAddTask {
        width: 100%;
    }
}

@media (max-width:600px) {
    .inputEditContainer1 {
        width: 82%;
    }
}

@media(max-width:550px) {
    .inputEditContainer1 {
        transform: translateX(-2.5) !important;
    }

    .editContactInformationBtn {
        display: none;
    }

    .editContactInformationBtnResponsive {
        display: flex;
    }
}

@media(max-width:500px) {
    .responsiveSubHeadline {
        margin-left: 8%;
    }

    .categoryContainer {
        width: 90%;
    }
}

@media(max-width:490px) {
    .detailedContactName {
        font-size: 45px;
    }
}

@media(max-width:465px) {
    .detailedContactName {
        font-size: 42px;
    }
}

@media(max-width:465px) {
    .detailedContactName {
        font-size: 39px;
    }
}

@media(max-width:407px) {
    .detailedContactName {
        font-size: 33px;
    }
}

@media(max-width:355px) {
    .detailedContactName {
        font-size: 30px;
    }
}

@media(max-width:345px) {
    h1 {
        font-size: 46px;
    }

    .backArrowContacts {
        bottom: 129%;
        left: 70%;
    }
}

@media(max-width:330px) {
    .detailedContactName {
        font-size: 27px;
    }
}


@media (max-width:450px) {
    .inputEditContainer1 {
        width: 81%;
    }
}

@media (max-width:400px) {
    .inputEditContainer1 {
        width: 80%;
    }
}

@media(max-width:350px) {
    .createAndCancelBtns {
        flex-direction: column;
    }
}