@media (max-width:1800px){
    .helpHeadline{
        left: 447px;
    }

    
    .helpMainContainer{
        left: 447px;
    }
}


@media (max-width:1450px){
    .helpHeadline{
        left: 347px;
    }


    .helpMainContainer{
        left: 347px;
    }
}


@media (max-width:1350px){
   

    .helpMainContainer{
        left: 347px;
    }


    .whatIsJoinInfoText {
        width: 730px;
    }


    .helpStepOne{
        width: 730px;
    }


    .helpStepTwo{
        width: 730px;
        margin-bottom: 20px;
    }


    .helpStepThree{
        width: 730px;
    }
}

@media (max-width:1200px){


    .bigContainerHelp{
        display: flex;
        flex-direction: column;
    }


    .mainContainerLegal{
        flex: 1;
    }


    .responsiveNavbar {
        display: flex;
        height: 84px;
    }


    .helpHeadline{
        left: 150px;
    }
   

    .helpMainContainer{
        left: 150px;
    }


    .whatIsJoinInfoText {
        width: 730px;
    }


    .helpStepOne{
        width: 730px;
    }


    .helpStepTwo{
        width: 730px;
    }


    .helpStepThree{
        width: 730px;
    }
}

@media (max-width:950px){


    .helpMainContainer{
        width: 550px;  
    }


    .whatIsJoinInfoText {
        width: 550px;
    }


    .helpStepOne{
        height: 75px;
        width: 550px;
    }


    .helpStepTwo{
        height: 75px;
        width: 550px;
        margin-bottom: 5px;
    }


    .helpStepThree{
        width: 550px;
    }


    .howToUseMainContainer {
        height: 240px;
    }
}

@media (max-width:750px){


    .helpHeadline{
        left: 50px;
    }


    .helpMainContainer{
        left: 50px;
    }
}

@media(max-width:600px){


    .helpMainContainer{
        width: 400px;
        top: 200px;
    }


    .whatIsJoinInfoText{
        width: 450px;
    }


    .helpStepOne {
        width: 450px;
        height: 100px;
    }


    .helpNumberOneText{
        width: 450px;
    }


    .helpStepTwo {
        width: 450px;
        height: 100px;
    }


    .helpNumberTwoText{
        width: 450px;
    }


    .helpStepThree {
        width: 450px;
        height: 100px;
    }


    .helpNumberThreeText{
        width: 450px;
    }


    .howToUseMainContainer {
        height: 400px;
        
    }
}

@media (max-width:500px) {
    

    .helpMainContainer{
      width: 300px;
        top: 200px;
    }

   
    .whatIsJoinInfoText{
        width: 350px;
    }


    .helpStepOne {
        width: 350px;
        height: 100px;
        margin-bottom: 15px;
    }


    .helpNumberOneText{
        width: 350px;
    }


    .helpStepTwo {
        width: 350px;
        height: 100px;
        margin-bottom: 15px;
    }


    .helpNumberTwoText{
        width: 350px;
    }


    .helpStepThree {
        width: 350px;
        height: 100px;
        margin-bottom: 15px;
    }


    .helpNumberThreeText{
        width: 350px;
    }

}


@media (max-width:400px) {


    .helpMainContainer{
        height: 565px;
        top: 200px;
    }

   
    .whatIsJoinInfoText{
        width: 250px;
    }


    .helpInfo{
        width: 300px;
    }


    .whatIsJoin{
        width: 300px;
    }


    .helpStepOne {
      width: 300px;
        margin-bottom: 50px;
    }


    .helpNumberOneText{
        width: 250px;
        height: 130px;
    }


    .helpStepTwo {
        width: 300px;
        margin-bottom: 50px;
    }


    .helpNumberTwoText{
        width: 250px;
        height: 130px;
    }


    .helpStepThree {
        width: 300px;
        margin-bottom: 50px;
    }


    .helpNumberThreeText{
        width: 250px;
        height: 130px;
    }

   
}