<link rel="stylesheet" href="css/fonts.css">
<link rel="stylesheet" href="css/header.css">
<script src="js/templates.js"></script>
<script src="js/script.js"></script>

<div id="header" class="header">
    <span class="SubHeaderContacts">
        Kanban Project Management Tool
    </span>
    <img class="responsiveLogo" src="assets/img/LogIn/responsiveLogo.png">

    <div class="userImgContacts">

        <div class="helpContacts">
            <div onclick="openHelp()">
                <img class="imgQuestionmark" src="assets/img/Summary/questionMark.png">
            </div>
            <div  class=" dropdown" id="userImg">
                <img src="assets/img/Contacts/newContactImg.png">
                <div class="dropdown-content">
                    <p class="dropdownHelp" onclick="openSection('help.html')">Help</p>
                    <p class="dropdownLegalNotice" onclick="openSection('legalNotice.html')">Legal notice</p>
                    <p onclick="moveToLogIn()">Log Out</p>
                </div>
            </div>

        </div>

    </div>

</div>

<script>



</script>