

<div id="navline" class="navLine">
    <img class="navbarJoinLogo" src="assets/img/Summary/joinLogoSummary.png">
    <div class="navs">
        <a href="https://gruppe-335.developerakademie.net/join/join2/summary.html" id="nav1" class="navbarSidebar">
            <img class="navImg opacity" src="assets/img/Summary/summary.png">
            <span> Summary</span>
        </a>

        <a href="https://gruppe-335.developerakademie.net/join/join2/board.html" id="nav2" class="navbarSidebar">
            <img class="navImg" src="assets/img/Summary/board.png">
            <span> Board</span>
        </a>

        <a href="https://gruppe-335.developerakademie.net/join/join2/addTask.html" id="nav3" class="navbarSidebar">
            <img class="navImg padding" src="assets/img/Summary/addTask.png">
            <span> Add Task</span>
        </a>

        <a href="https://gruppe-335.developerakademie.net/join/join2/contacts.html" id="nav4" class="navbarSidebar">
            <img class="adjustImgNav" src="assets/img/Summary/contacts.png">
            <span> Contacts</span>
        </a>
    </div>

    <div href="https://gruppe-335.developerakademie.net/join/join2/legalNotice.html" id="nav5" class="legalNotice">
        <img src="assets/img/Summary/exclamationMark.png">
        <span> Legal notice</span>
    </div>
</div>